<div class="d-flex flex-column gap-2 mt-2 w-75">
     <mat-card>
        <mat-card-header>
            <mat-card-title>Users</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <div class="list-group">
                @for (user of users; track user) {
                    <a class="list-group-item list-group-item-action"
                    >{{user}}</a>
                }
            </div> -->
        </mat-card-content>
     </mat-card>
     <button
        mat-flat-button
        (click)="onClick()">
        Submit
    </button>
 </div>
